<mat-icon [style.visibility]="isEmoji() ? 'hidden' : 'visible'">{{
  formControl.value
}}</mat-icon>

<input
  [ngModel]="formControl.value"
  (ngModelChange)="onInputValueChange($event)"
  (focus)="onFocus()"
  (paste)="onPaste($event)"
  [formlyAttributes]="field"
  [matAutocomplete]="auto"
  matInput
  type="text"
/>
<!--<span matPrefix>+1 &nbsp;</span>-->

<mat-autocomplete
  #auto="matAutocomplete"
  class="icon-picker-panel"
  (optionSelected)="onIconSelect($event.option.value)"
  [autoActiveFirstOption]="false"
>
  @for (icon of filteredIcons(); track trackByIndex($index, icon.name)) {
    <mat-option [value]="icon.name">
      <span class="icon-picker-option">
        <span class="icon-picker-glyph icon-picker-tone-{{ icon.tone }}">
          <mat-icon>{{ icon.name }}</mat-icon>
        </span>
        <span class="icon-picker-copy">
          <span class="icon-picker-name">{{ icon.name }}</span>
          <small class="icon-picker-category">{{ icon.category | translate }}</small>
        </span>
      </span>
    </mat-option>
  }
</mat-autocomplete>

@if (IS_ELECTRON && !isLinux) {
  <mat-icon
    matSuffix
    type="button"
    [matTooltip]="'Open system emoji picker if any'"
    (click)="openEmojiPicker()"
    >add_reaction</mat-icon
  >
}
