:host {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;

  mat-icon {
    margin-right: var(--s);
    font-size: var(--s3);
    height: var(--s3);
    width: var(--s3);
  }
}
